<!DOCKTYPE html>
<html>
    <head>
        <title>Curso</title>
        <meta name="viewport" content="device-width, inital-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        
        <h1>Ola!</h1>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <script>
            $(function(){
                alert("Ola!")
            })
        </script>
    </body>
</html>