<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Vote.ME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/br/br-all.js"></script>
<link rel="stylesheet" href="main.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="index.html">Vote.ME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opções
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    
<div id="container">
    
    <script>
// Prepare demo data
// Data is joined to map using value of 'hc-key' property by default.
// See API docs for 'joinBy' for more info on linking data and map.
var data = [
    ['br-sp', 0],
    ['br-ma', 1],
    ['br-pa', 2],
    ['br-sc', 3],
    ['br-ba', 4],
    ['br-ap', 5],
    ['br-ms', 6],
    ['br-mg', 7],
    ['br-go', 8],
    ['br-rs', 9],
    ['br-to', 10],
    ['br-pi', 11],
    ['br-al', 12],
    ['br-pb', 13],
    ['br-ce', 14],
    ['br-se', 15],
    ['br-rr', 16],
    ['br-pe', 17],
    ['br-pr', 18],
    ['br-es', 19],
    ['br-rj', 20],
    ['br-rn', 21],
    ['br-am', 22],
    ['br-mt', 23],
    ['br-df', 24],
    ['br-ac', 25],
    ['br-ro', 46]
];

// Create the chart
Highcharts.mapChart('container', {
    chart: {
        map: 'countries/br/br-all'
    },

    title: {
        text: 'Mapa de calor'
    },

    subtitle: {
        text: 'Fonte: <a href="http://code.highcharts.com/mapdata/countries/br/br-all.js">Brazil</a>'
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 1
    },

    series: [{
        data: data,
        name: 'Votos por região',
        states: {
            hover: {
                color: '#BADA55'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});</script>
    </div>


</body>
</html>
